.Cart {
    width: 50%;
    border: 1px solid black;
}
.CartItems {
    margin: 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 20px;
}
.CartPrice {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
