.CartItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 20px;
}
.CartItem  p {
    margin: 0;
}
.CartItem span {
    font-weight: 700;
}
.CartItem button {
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    line-height: 30px;
    text-align: center;
    border: none;
}
