.MenuItem {
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.MenuItem img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.MenuItemText {
    display: flex;
    flex-direction: column;
}
.MenuItemText h2 {
    margin: 0;
    margin-bottom: 5px;
}
.MenuItem button {
    width: 30%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    background: white;
}
