form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
}
input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 15px;
}

form button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
