.ModalBg {
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.ModalClose {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: black;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
    border: none;
}
